.red{
    color: #FF8190;
    ;
}

.middleLine{
    width: 0;
    height: 424px;
    border: 1px solid #D1D1D1;
}

.addTaskContent{
    flex-direction: column;
    padding-inline:  84.478px;
    font-size: 20px;
    max-width: 976.25px;
}

.addTaskContent h1{
    margin-bottom: 40px;
}

.addTaskLeft {
    width: 440px;
    flex-direction: column;
}

.addTaskBody{
        column-gap: 5px;
    
}

.addTaskRight{
    width: 440px;
    flex-direction: column;
}

.addTaskContent input{
    border-radius: 10px;
    height: 48px;
    padding-inline: 21px;
    padding-block: 12px;
    border: 1px solid #D1D1D1;
    margin-bottom: 8px;
    margin-top: 4px;
    font-size: 20px;
}

.addTaskContent input::placeholder {
    color: #D1D1D1;
 }

.addTaskContent textarea{
    border-radius: 10px;
    height: 120px;
    padding-inline: 21px;
    padding-block: 12px;
    border: 1px solid #D1D1D1;  
    margin-bottom: 8px;
    margin-top: 4px;
    font-size: 20px;
}

.addTaskContent textarea::placeholder {
    color: #D1D1D1;
 }

.addTaskContent select{
    border-radius: 10px;
    height: 48px;
    padding-inline: 21px;
    padding-block: 12px;
    border: 1px solid #D1D1D1;   
    margin-bottom: 8px;
    margin-top: 4px;
    font-size: 20px;
}

.createTask{
    background-color: #2A3647 !important;
    color: #FFFFFF;
    width: 183px !important;
    align-items: center;
    justify-content: center;
}

.clear{
    background-color: #F6F7F8 !important;
    color: #2A3647;
    width: 110px !important;
    align-items: center;
    justify-content: center;
}

.addTaskContent button{
    height: 56px;
    width: 136px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    margin-bottom: 8px;
    margin-top: 4px;
    font-size: 20px;
}

.addTaskContent button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.addTaskContent p{
    margin: 0;
}

.note{
    font-size: 16px;
    vertical-align: sub;
}

.addTaskFooter{
    margin-top: 146px;
}

.addTaskSubmit{
    width: 309px;
}

.addTaskSubmit img{
    height: 24px;
    width: 24px;
    margin-left: 3px;
}

.addTaskNote{
    height: 24px;
}

#addTitleInput{
    width: auto;
}

#addTaskDiscription{
    width: auto;
}

#addTaskContactSelect{
    width: auto;
}

.colormedium{
    background-color: #FFA800!important;
    color:#FFFFFF!important;
}

.colorurgent{
    background-color: #FF3D00!important;
    color: #FFFFFF!important;
}

.colorlow{
    background-color: #7AE229!important;
    color: #FFFFFF!important;
}

@media (max-width: 1024px){
    .addTaskBody{
        flex-direction: column;
        width: 100%;
    }

    .middleLine{
        display: none;
    }

    .addTaskHeader{
        font-size: 47px;
    }

    .addTaskContent{
        font-size: 16px;
        width: 100%;
    }

    .addTaskContent input{
        font-size: 16px;
    }

    .addTaskContent textarea{
        font-size: 16px;
    }

    .addTaskContent button{
        font-size: 16px;
    }

    .addTaskContent select{
        font-size: 16px;
    }

    body{
        width: 100vw;
    }

    .contentsection{
        width: 100vw;
    }

    .addTaskLeft{
        max-width: auto;
        width: auto;
    }

    .addTaskRight{
        max-width: auto;
        width: auto;
    }
    .clear{
        display: none!important;
    }

    .addTaskSubmit{
        flex-direction: row-reverse;
    }

    /* .addTaskFooter{
        position: absolute;
        bottom: 117px;
        background-color: #F6F7F8;
        padding-inline: 50px;
    } */
}