.addTask {
  display: flex;
  background-color: #2a3647;
  width: 160px;
  height: 48px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  border: 1px solid #2a3647;
  align-items: center;
}

.addTask:hover {
  background-color: #29abe2;
  border: 1px solid #29abe2;
  width: 160px;
  height: 48px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.addPlus {
  height: 32px !important;
  width: 32px !important;
}

.header {
  align-items: center;
  justify-content: space-between;
  padding-inline: 84.4785px;
}

.findTask {
  display: flex;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  width: 280px;
  padding-inline: 16px;
  padding-block: 8px;
}

.findTaskMobile {
  display: none;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  width: auto;
  padding-inline: 16px;
  padding-block: 8px;
}

.findTaskInput {
  border: none;
  height: 32px;
  width: 280px;
  font-size: 20px;
  font-weight: 400;
}

.findTaskInput::placeholder {
  color: #d1d1d1;
}

.findTaskImg {
  width: 48px;
  height: 32px;
  align-items: center;
  justify-content: end;
  border-left: 1px solid #d1d1d1;
}

.taskSearch {
  height: 17.58px;
}

.headerRight {
  width: 504px;
  justify-content: space-between;
}

.columnHeadLine {
  padding-inline: 84.4785px;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
}

.columnHead {
  justify-content: space-between;
  width: 244px;
  height: 24px;
  padding-bottom: 8px;
}

.column {
  flex-direction: column;
}

.columnHead h2 {
  font-size: 20px;
  margin: 0;
}

.c-pointer:hover {
  cursor: pointer;
}

.taskCoulumn {
  padding-inline: 84.4785px;
  justify-content: space-between;
}

.noTask {
  max-width: 246px;
  width: fill;
  height: 48px;
  background-color: #e7e7e7;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #a8a8a8;
}

.addTaskMobile {
  display: none;
  background-color: #2a3647;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  border: 1px solid #2a3647;
  align-items: center;
}

.addTaskMobile:hover {
  background-color: #29abe2;
  border: 1px solid #29abe2;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.card {
  width: 214px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 24px;
  box-shadow: 0px 0px 10px 3px #00000014;
  margin-block: 10px;
}

.technical {
  background-color: #1fd7c1;
}

.user {
  background-color: #0038ff;
}

.cardText {
  width: 220px;
  color: #a8a8a8;
  font-size: 16px;
  text-wrap: wrap;
  margin: 0;
  margin-bottom: 24px;
}

.cardTitle {
  color: #2a3647;
  font-size: 16px;
  margin-bottom: 8px;
}

.cardCategory {
  color: #ffffff;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 4px;
  width: fit-content;
  height: 21px;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.progress-container {
  width: 128px;
  background-color: #f3f3f3;
  border-radius: 8px;
  height: 8px;
  overflow: hidden;

}

.progress-bar {
  height: 100%;
  background-color: #4589ff;
  width: 0%;
  border-radius: 25px;
  transition: width 0.4s;
}

.subtask-container {
  margin: 10px 0;
}

.progress-text{
  font-size: 12px;
}

.cardBalken{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .findTask {
    display: none;
  }

  .findTaskMobile {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  .header {
    padding-inline: 16px;
  }

  .columnHeadLine {
    padding-inline: 16px;
  }

  .mobileSearch {
    padding-inline: 16px;
    padding-bottom: 24px;
  }

  .headerRight {
    flex-direction: row-reverse;
  }

  .findTaskInput {
    width: 100%;
  }

  .addTask {
    display: none;
  }

  .addTaskMobile {
    display: flex;
  }

  .headerMobile {
    font-size: 47px;
  }
}

@media (max-width: 700px) {
  .column {
    width: 100%;
  }

  .columnHead {
    width: 100%;
  }

  .noTask {
    max-width: 100%;
  }
}

.dropSection{
  min-height: 400px;
}

.drag-over {
  border: 2px dashed #e7e7e7; 
}