h2 {
  border-right: solid 2px rgb(41, 171, 226);
  font-size: 61px;
  padding-right: 48px;
}
.fixed-header {
  position: sticky;
  top: 0;
}

.blueBackground {
  background-color: rgb(42, 54, 71);
  color: white;
}

.displayNone {
  display: none !important;
}

.layout-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  padding-bottom: 0px;
}

.contacts {
  width: 35%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;/* 93px 12px 0 12px;*/
  overflow-y: auto; 
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content-section {
  flex: 1;
  height: 88vh;
  padding: 15px 15px 0px 15px;/*110px 25px 0 55px; */
}

.h2Contacts{
  margin: 0;
}

.moreAboutContent {
  width: 100%;
  height: auto;
  padding: 24px -1px 0 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addContact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0 12px 0;
}

.addContactButton {
  background-color: rgb(9, 25, 49);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 56px;
  border-radius: 12px;
  font-size: 21px;
  font-weight: 700;
  border: none;
  width: 352px;
}

.createButton {
  background-color: rgb(9, 25, 49);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 56px;
  border-radius: 12px;
  font-size: 21px;
  font-weight: 700;
  border: none;
  width: 352px;
}

.addContactButton img {
  height: 32px;
  width: 32px;
}

.createButton img {
  height: 32px;
  width: 32px;
}

.addContactButton:hover {
  cursor: pointer;
}

.createButton:hover {
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.letter_For_PopUp {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 48px;
  background-color: orange;
  color: white;
  border: white 1px solid;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.popUp.slide-in {
  animation: slideIn 0.5s forwards;
}

.popUp.slide-out {
  animation: slideOut 0.5s forwards;
}
 
.bg-popUp.show {
  opacity: 1;
}

.bg-popUp.hide {
  opacity: 0;
}


.bg-popUp {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

@media (max-width: 950px) {
  .profile-pic {
    display: none;
  }
}

.popUp {
  height: 440px;
  width: 930px;
  border-radius: 24px;
  z-index: 998;
  padding-left: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.popUp-logo {
  background-color: rgb(9, 25, 49);
  width: 467px;
  height:  597px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.logo {
  object-fit: cover;
  height: 66px;
  width: 55px;
}

.logo-box {
  height: 88px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 12px 0 20px;
}

.edit-logo {
  object-fit: cover;
  width: 371px;
  height: 129px;
  padding: 0 12px 12px 12px;
}

.edit-logo-box {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
}

.popUp-content {
  background-color: white;
  flex: 1;
  height: 100%;
  width: 745px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 24px 0 0;
}

.close-button img {
  object-fit: cover;
  height: 32px;
  width: 32px;
}

.close-button img:hover {
  cursor: pointer;
}

.pic_inputs {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-evenly;
  width: 100%;
}

.profile-pic {
  height: 120px;
  width: 120px;
}

.return-mobilePopUp {
  display: flex;
  justify-content: end;
}

.return-mobilePopUp img {
  filter: brightness(1000%) saturate(0%);
  object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  object-fit: cover;

  
}

.form input {
  height: 32px;
  border-radius: 8px;
  border: 1px solid rgb(203, 203, 203);
  object-fit: cover;
}

.h2-span {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  align-items: center;
  gap: 48px;
}

.text span{
  font-size: 27px;
}

.contact_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 0 0;
  gap: 24px;
}

.contact_button button {
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  gap: 4px;
  font-size: larger;
}

.contact_button button:last-child {
  border: none;
}

.addContactButton:hover {
  background-color: rgb(41, 171, 226);
  transition: 150ms;
  color: white;
}

.createButton:hover {
  background-color: rgb(41, 171, 226);
  transition: 150ms;
  color: white;
}

.contact_button img {
  object-fit: cover;
  height: 24px;
  width: 24px;
}

.cancel-Button {
  background-color: white;
}

.cancel-Button:hover {
  cursor: pointer;
  border: 2.5px solid rgb(41, 171, 226);
  color: rgb(41, 171, 226);
}

.cancel-Button:hover img {
  filter: invert(33%) sepia(100%) saturate(5000%) hue-rotate(190deg)
    brightness(100%) contrast(100%);
}

.letter {
  border-bottom: 0.5px solid grey;
  margin: 0;
  padding: 12px 0px 12px 58px
}

.contactCard {
  display: flex;
  align-items: center;
  gap: 35px;
  border-radius: 12px;
  width: 322px;
  height: 78px;
  padding-left: 30px;
  padding-bottom: 37px;
}

.one_letter {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: larger;
  text-transform: uppercase;
}

.one_letter:hover {
  cursor: pointer;
}

.fullName-email {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fullName-email span{
  font-size: 20px;
}

.email {
  text-decoration: none;
  color: rgb(0, 124, 238);
  font-size: smaller;
}

.single-letter {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 48px;
  background-color: orange;
  color: white;
  border: white 1px solid;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h4 {
  margin: 0;
  font-size: 36px;
}

.contactInformation{
  font-size: 20px;
  height: 74px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.contact-profile {
  display: flex;
  align-items: center;
  gap: 54px;
  padding: 24px 0 24px 0;
}

.h4_edit-delete {
  display: flex;
  align-items: self-start;
  flex-direction: column;
}

.edit-delete {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 12px 0 0 0;
}

.edit-delete :first-child:hover {
  color: rgb(65, 157, 241);
  filter: invert(33%) sepia(100%) saturate(5000%) hue-rotate(190deg)
    brightness(100%) contrast(100%);
  cursor: pointer;
}

.edit-delete :nth-child(2):hover {
  color: rgb(65, 157, 241);
  filter: invert(33%) sepia(100%) saturate(5000%) hue-rotate(190deg)
    brightness(100%) contrast(100%);
  cursor: pointer;
}

.edit-delete img {
  height: 24px;
  width: 24px;
  object-fit: cover;
}

.edit-delete img:hover {
  cursor: pointer;
  filter: invert(33%) sepia(100%) saturate(5000%) hue-rotate(190deg)
    brightness(100%) contrast(100%);
}

.edit-delete span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.pers-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pers-info a {
  color: rgb(65, 157, 241);
  text-decoration: none;
}

.closeMobile {
  display: none;
}



#options_edit_delete{
  position: fixed;
  bottom: 0px;
  top: 500px;
  object-fit: cover;
  color: black;
}
   
        .closeMobile {
            cursor: pointer;
        }

        #editDeleteMenu {
          display: none;
          position: absolute;
          bottom: 74px;
          right: 0px;
          background-color: white;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          padding-right: 0px;
          padding-bottom: 10px;
          border-radius: 30%;
        }

        #editDeleteMenu a {
            display: block;
            color: black;
            text-decoration: none;
            padding: 8px 16px;
        }

        #editDeleteMenu a:hover {
            background-color: #ddd;
        }

