body {
    font-family: "Inter", system-ui;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--bg-color);
    margin: 0;
    display: flex;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  nav a {
    gap: 16px;
    padding: 8px 0 8px 25%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--lightgrey);
 
  }
  
  nav a:hover {
    background-color: #2a3d59;
  }
  
  .active-link {
    background-color: var(--secundary-color);
  }
  
  .bg-focus {
    background-color: #091931;
  }
  
  h1 {
    font-size: 61px;
    font-weight: 700;
  }
  
  .container-sidebar {
    display: flex;
    width: 232px;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 997;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  .sidebar-logo {
    padding-top: 64px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    margin: 32px 0px;
    gap: 20px;
    width: 100%;
  }
  
  .nav-bottom-link {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 20% 0 64px 0;
  }
  
  .nav-bottom-link a {
    text-decoration: none;
    color: white;
  }
  
  .nav-bottom-link a:hover {
    color: var(--highlight-color);
    font-weight: 700;
    background-color: transparent;
  }
  
  @media (max-width: 1024px) {
    .d-none-mobile {
      display: none;
    }
  
    .container-sidebar {
      display: flex;
      width: 100vw;
      height: 10vh;
      position: fixed;
      top: auto;
      bottom: 0 !important;
      justify-content: center;
      background-color: var(--primary-color);
      color: var(--white);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      z-index: 100;
    }
  
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: clamp(min(98vw, 20rem), 95vw, max(90vw, 55rem));
      margin: 0;
      gap: clamp(0rem, 0rem + 0.8889vw, 0.5rem);
      height: 100%;
    }
  
    nav a {
        width: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90px;
      text-decoration: none;
      color: var(--lightgrey);
      width: 90px;
      gap: 4px;
      border-radius: 8px;
      font-size: 14px;
      padding: 0 12px;
      
    }
  
    nav a img {
      width: 24px;
    }
  }
  