:root {
    --white: #ffffff;
    --black: #000000;
    --lightgrey: #cdcdcd;
    --bg-color: #f5f7f8;
    --primary-color: #2a3647;
    --secundary-color: #081931;
    --highlight-color: #28abe2;
  }
  